<template>
<el-container>
  <el-header>
    <h1>Calligraphics tool</h1>
  </el-header>
  <el-main>
    <el-row>
      <el-col :span="24">
        
        <el-input v-model="quote" placeholder="Pon la frase que quieres escribir" />

        <el-row class="row-options">
          <el-col :md="4" :xs="12">
            <el-checkbox v-model="letters">Letras</el-checkbox>
          </el-col>
          <el-col :md="4" :xs="12">
            <el-checkbox v-model="numbers">Numeros</el-checkbox>
          </el-col>
          <el-col :md="4" :xs="12">
            <el-checkbox v-model="symbols">Símbolos</el-checkbox>
          </el-col>
          <el-col :md="16" :xs="24" class="col-submit">
            <el-button type="primary">Imprimir</el-button>
          </el-col>
        </el-row>

      </el-col>
    </el-row>

    <el-row class="sheet">
      <el-col>
        <div v-if="quote">
          <h1>Frase escogida</h1>
          <p class="quote" v-for="i in 12" :key="i">{{quote}}</p>
        </div>
        <template v-if="letters">
          <h1>Practicar letras</h1>
          <div v-for="j in 4" :key="j">
            <span class="letter" v-for="i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'" :key="i">{{i}}</span>
          </div>
        </template>
        
        <template v-if="numbers">
          <h1>Practicar numeros</h1>
          <div v-for="j in 4" :key="j">
            <span class="number" v-for="i in '0123456789'" :key="i">{{i}}</span>
          </div>
        </template>
      </el-col>
    </el-row>
  </el-main>
</el-container>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  data() {
    return {
      letters: false,
      numbers: false,
      symbols: false,
      quote: ''
    }
  },
  methods: {
    print() {

    }
  }
})
</script>

<style lang="scss" scoped>
@import './assets/style.css';
.row-options {
  margin-top: 20px;
}
.col-submit {
  display: flex;
  justify-content: flex-end;
}

.sheet {
  .quote, .letter, .number {
    font-size: 2em;
    font-family: 'kgprimary';
  }
  .letter, .number {
    display: inline-block;
    margin: 0px 10px;
  }
}

  @media screen and (max-width: 1023px) {
    .col-submit {
      margin-top: 20px;
    }
  }
</style>